<div class="modal fade" id="<%= action %>PostModal" tabindex="-1" aria-labelledby="<%= action %>PostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= action %>PostModalLabel"><%= post.id ? "Edit" : "Create" %> Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "#{action}_post" do %>
          <%= form_with(model: post, url: post.id ? post_path(post) : posts_path , id: "#{ action }_post_form", local: true, class: "needs-validation", novalidate: true, data: { turbo: false }) do |form| %>
            <div class="mb-3">
              <%= form.label :title, class: 'form-label' %>
              <%= form.text_field :title, class: 'form-control', required: true %>
            </div>

            <div class="mb-3">
              <%= form.label :body, class: 'form-label' %>
              <%= form.text_area :body, class: 'form-control', required: true %>
            </div>

            <%= form.submit 'Save Post', class: 'btn btn-success' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>