<div class="col-lg-8 offset-lg-2" data-controller="post-card" data-post-id="<%= @post.id %>" data-post-card-target="post">
  <h1><span class="fw-bold"><%= @post.title %></span></h1>
  <em class="text-secondary font-italic">by <%= @post.user.clear_username %> <%= time_ago_in_words(@post.created_at) %> ago</em>

  <p><%= @post.body %></p>
  <div class="d-flex justify-content-between">
    <span>
      <button class="btn btn-outline-primary" aria-label="Add comment" data-action="click->post-card#revealForm" data-post-card-target="button">Add Comment</button>
    </span>
    <%= link_to "Edit post", edit_post_path(@post), "data-bs-toggle": "modal", "data-bs-target": "#editPostModal", class: "btn btn-primary" if @post.user == current_user %>
  </div>
  <%= render "posts/comment_box", post: @post %>

  <!-- Comments Section -->
  <div>
    <%= render "comments/comments", comments: @post.comments if @post.comments.any? %>
  </div>

</div>

<%# Edit modal form (shared with new Post) %>
<%= render "posts/form_modal", post: @post, action: "edit" if @post.user == current_user %>
